<!-- MODAL EDIT -->
<div class="modal fade" id="exampleModalEdit" tabindex="-1" aria-labelledby="exampleModalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- FORM TITLE -->
            <div class="modal-header">
                <h5 class="modal-title text-warning" id="exampleModalEditLabel">Topshiriqni o'zgartirish</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- FORM BODY -->
            <div class="modal-body">
                <form id="editTaskForm" method="post" action="{% url 'edit-task'%}">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" id="editTaskId">
                    <!-- title -->
                    <div class="mb-3">
                        <label for="editTaskTitle" class="form-label">Sarlavha</label>
                        <input type="text" class="form-control" id="editTaskTitle" name="title">
                    </div>

                    <!-- description -->
                    <div class="mb-3">
                        <label for="editTaskDescription" class="form-label">Tavsif</label>
                        <textarea class="form-control" id="editTaskDescription" name="description" rows="7"></textarea>
                    </div>

                    <!-- is_done -->
                    <div class="mb-3">
                        <label for="editTaskDone" class="form-label">Bajarildi</label>
                        <input type="checkbox" class="form-check-input" id="editTaskDone" name="done">
                    </div>

                    <!-- is_delete -->
                    <div class="mb-3">
                        <label for="editTaskDeleted" class="form-label">O'chirildi</label>
                        <input type="checkbox" class="form-check-input" id="editTaskDeleted" name="delete">
                    </div>

                    <!-- BUTTONS -->
                    <div class="modal-footer">
                        <!-- close -->
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                        <!-- edit button -->
                        <button type="submit" class="btn btn-warning float-end">O'zgartirish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>