<!-- MODAL DETAIL -->
<div class="modal fade" id="exampleModalDetail" tabindex="-1" aria-labelledby="exampleModalDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- DETAIL TITLE -->
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalDetailLabel">Topshiriq haqida batavsil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- DETAIL BODY -->
            <div class="modal-body">

                <!-- title -->
                <div>
                    <strong>Sarlavha:</strong>
                    <p id="detailTaskTitle"></p>
                </div>

                <!-- description -->
                <div>
                    <strong>Tavsif:</strong>
                    <p id="detailTaskDescription"></p>
                </div>

                <!-- is_done -->
                <div>
                    <strong>Bajarildi:</strong>
                    <p id="detailTaskDone"></p>
                </div>

                <!-- is_delete -->
                <div>
                    <strong>O'chirildi:</strong>
                    <p id="detailTaskDeleted"></p>
                </div>

                <!-- created_at -->
                <div>
                    <strong>Yaratish:</strong>
                    <p id="detailTaskCreatedAt"></p>
                </div>

                <!-- updated_at -->
                <div>
                    <strong>O'zgartirish:</strong>
                    <p id="detailTaskUpdatedAt"></p>
                </div>

            </div>

            <!-- DETAIL BODY CLOSE BUTTON -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            </div>

        </div>
    </div>
</div>